# Assignment 2 - Physical Data Model and Social Media

## Data Sources

### 1. Twitter API

#### Collect Twitter Data

In [1]:
import twitter

In [2]:
import tweepy

##### Get Twitter Api

In [3]:
auth = tweepy.OAuthHandler('NzIdrbd4Ht4Il0oLMe2IaMDXn', 'PB13487DbvYEze2MnIgX4a1w2oY75qxDmcNELvRjf0kcfsO7dU')
auth.set_access_token('1086338263206514689-Em3wWOVgKwQ1re4Zqf9274VdfXzU09', 'My58nuVtHuInK5r2tmcSzgyEJHn09v5Jj0f9gL9Iv0o4j')
api = tweepy.API(auth)

##### Collect Singers data

In [4]:
user = api.get_user('AvrilLavigne')

In [5]:
singer_names = []
singer_id = []
singer_url = []
singer_description = []
singer_followers_count = []

##### Collect datas of singers' information

In [6]:
singer_id.append(user.id)
singer_names.append(user.name)
singer_url.append(user.url)
singer_description.append(user.description)
singer_followers_count.append(user.followers_count)

In [7]:
user1 = api.get_user('ArianaGrande')

In [8]:
singer_id.append(user1.id)
singer_names.append(user1.name)
singer_url.append(user1.url)
singer_description.append(user1.description)
singer_followers_count.append(user1.followers_count)

In [9]:
user2 = api.get_user('katyperry')

In [10]:
singer_id.append(user2.id)
singer_names.append(user2.name)
singer_url.append(user2.url)
singer_description.append(user2.description)
singer_followers_count.append(user2.followers_count)

In [11]:
user3 = api.get_user('rihanna')

In [12]:
singer_id.append(user3.id)
singer_names.append(user3.name)
singer_url.append(user3.url)
singer_description.append(user3.description)
singer_followers_count.append(user3.followers_count)

In [13]:
user4 = api.get_user('chrisbrown')

In [14]:
singer_id.append(user4.id)
singer_names.append(user4.name)
singer_url.append(user4.url)
singer_description.append(user4.description)
singer_followers_count.append(user4.followers_count)

In [15]:
user5 = api.get_user('justinbieber')

In [16]:
singer_id.append(user5.id)
singer_names.append(user5.name)
singer_url.append(user5.url)
singer_description.append(user5.description)
singer_followers_count.append(user5.followers_count)

In [17]:
user6 = api.get_user('ladygaga')

In [18]:
singer_id.append(user6.id)
singer_names.append(user6.name)
singer_url.append(user6.url)
singer_description.append(user6.description)
singer_followers_count.append(user6.followers_count)

In [19]:
user7 = api.get_user('maroon5')

In [20]:
singer_id.append(user7.id)
singer_names.append(user7.name)
singer_url.append(user7.url)
singer_description.append(user7.description)
singer_followers_count.append(user7.followers_count)

In [21]:
user8 = api.get_user('BrunoMars')

In [22]:
singer_id.append(user8.id)
singer_names.append(user8.name)
singer_url.append(user8.url)
singer_description.append(user8.description)
singer_followers_count.append(user8.followers_count)

In [23]:
user9 = api.get_user('taylorswift13')

In [24]:
singer_id.append(user9.id)
singer_names.append(user9.name)
singer_url.append(user9.url)
singer_description.append(user9.description)
singer_followers_count.append(user9.followers_count)

##### Transform dataframe to table

In [25]:
import pandas as pd

In [26]:

a = {
       
        "singer_ID": singer_id,
        "singer_name": singer_names,
        "singer_url": singer_url,
        "singer_description": singer_description,
        "singer_followers_count": singer_followers_count,
 }
 
df = pd.DataFrame.from_dict(a, orient='index')
df.transpose()

,singer_ID,singer_name,singer_url,singer_description,singer_followers_count
0,73992972,Avril Lavigne,https://t.co/niyvkKkHrn,BMG Records. Freesolo / Vector Management. PMK...,21713427
1,34507480,Ariana Grande,https://t.co/76qmPxOH2C,"thank u, next",61218352
2,21447363,KATY PERRY,https://t.co/VxeqPgXTF4,Love. Light.,107000765
3,79293791,Rihanna,https://t.co/6HarIyKc3f,Throwing all the shade! @fentybeauty,89902946
4,119509520,Chris Brown,https://t.co/jCtn90KqAF,#Undecided available everywhere now! SOMEWHERE...,29838177
5,27260086,Justin Bieber,https://t.co/r6Zj8zy1lK,Let's make the world better.,105112962
6,14230524,Lady Gaga,https://t.co/6CDfvJPhW0,,78140457
7,24886570,Maroon 5,http://t.co/3UhWOxHCRb,This is the Official Twitter page for Maroon 5...,14698909
8,100220864,Bruno Mars,https://t.co/lrnSFFfTtz,,42490013
9,17919972,Taylor Swift,https://t.co/RSxHoIri2k,The reputation Stadium Tour is streaming now o...,83261148

##### Output to csv

In [27]:
df.to_csv('output_singer.csv')

##### Transpose the csv

In [28]:
pd.read_csv('output_singer.csv').T.to_csv('twitter_singer.csv',header=False)

##### Collect popular Twitter posts data

In [45]:
most_popular_post_ID = []
post_content = []
post_time = []
post_retweet_count=[]
Post_name = []
key_word =["Avril Lavigne","Ariana Grande","katy Perry","Rihanna","Chris Brown","Lady Gaga","Maroon 5","Justin Bieber","Bruno Mars","Taylor Swift","BTS","Seventeen"]
search = tweepy.Cursor(api.search, q="Avril Lavigne", result_type="popular", lang="en").items(1)
search1 = tweepy.Cursor(api.search, q="Ariana Grande", result_type="popular", lang="en").items(1)
search2 = tweepy.Cursor(api.search, q="katy Perry", result_type="popular", lang="en").items(1)
search3 = tweepy.Cursor(api.search, q="Rihanna", result_type="popular", lang="en").items(1)
search9 = tweepy.Cursor(api.search, q="Chris Brown", result_type="popular", lang="en").items(1)
search4 = tweepy.Cursor(api.search, q="Lady Gaga", result_type="popular", lang="en").items(1)
search5 = tweepy.Cursor(api.search, q="Maroon 5", result_type="popular", lang="en").items(1)
search6 = tweepy.Cursor(api.search, q="Justin Bieber", result_type="popular", lang="en").items(1)
search7 = tweepy.Cursor(api.search, q="Bruno Mars", result_type="popular", lang="en").items(1)
search8 = tweepy.Cursor(api.search, q="Taylor Swift", result_type="popular", lang="en").items(1)
search10 = tweepy.Cursor(api.search, q="BTS", result_type="popular", lang="en").items(1)
search11 = tweepy.Cursor(api.search, q="Seventeen", result_type="popular", lang="en").items(1)

In [46]:
for item in search:    
 most_popular_post_ID.append(item.id)
 post_content.append(item.text)
 post_time.append(item.created_at)
 post_retweet_count.append(item.retweet_count)

In [47]:
for item in search1:    
 most_popular_post_ID.append(item.id)
 post_content.append(item.text)
 post_time.append(item.created_at)
 post_retweet_count.append(item.retweet_count)

In [48]:
for item in search2:    
 most_popular_post_ID.append(item.id)
 post_content.append(item.text)
 post_time.append(item.created_at)
 post_retweet_count.append(item.retweet_count)

In [49]:
for item in search3:    
 most_popular_post_ID.append(item.id)
 post_content.append(item.text)
 post_time.append(item.created_at)
 post_retweet_count.append(item.retweet_count)

In [50]:
for item in search4:    
 most_popular_post_ID.append(item.id)
 post_content.append(item.text)
 post_time.append(item.created_at)
 post_retweet_count.append(item.retweet_count)

In [51]:
for item in search5:    
 most_popular_post_ID.append(item.id)
 post_content.append(item.text)
 post_time.append(item.created_at)
 post_retweet_count.append(item.retweet_count)

In [52]:
for item in search6:    
 most_popular_post_ID.append(item.id)
 post_content.append(item.text)
 post_time.append(item.created_at)
 post_retweet_count.append(item.retweet_count)

In [53]:
for item in search7:    
 most_popular_post_ID.append(item.id)
 post_content.append(item.text)
 post_time.append(item.created_at)
 post_retweet_count.append(item.retweet_count)

In [54]:
for item in search8:    
 most_popular_post_ID.append(item.id)
 post_content.append(item.text)
 post_time.append(item.created_at)
 post_retweet_count.append(item.retweet_count)

In [55]:
for item in search9:    
 most_popular_post_ID.append(item.id)
 post_content.append(item.text)
 post_time.append(item.created_at)
 post_retweet_count.append(item.retweet_count)

In [56]:
for item in search10:    
 most_popular_post_ID.append(item.id)
 post_content.append(item.text)
 post_time.append(item.created_at)
 post_retweet_count.append(item.retweet_count)

In [57]:
for item in search11:    
 most_popular_post_ID.append(item.id)
 post_content.append(item.text)
 post_time.append(item.created_at)
 post_retweet_count.append(item.retweet_count)

##### Transform dataframe to table

In [59]:
b = {  "keyword": key_word,
       
        "most_popular_post_ID": most_popular_post_ID,
        "post_content": post_content,
        "post_time": post_time,
        "post_retweet_count": post_retweet_count
        
      
 }
 
df = pd.DataFrame.from_dict(b, orient='index')
df.transpose()

,keyword,most_popular_post_ID,post_content,post_time,post_retweet_count
0,Avril Lavigne,1102763914368970752,"""I saw a lot of friends disappear,"" @AvrilLavi...",2019-03-05 02:53:00,10
1,Ariana Grande,1102985085719068672,love someone in your life as much as Jake Tapp...,2019-03-05 17:31:51,244
2,katy Perry,1102866539433254918,hi I’m wide awake and I can never say that wit...,2019-03-05 09:40:47,69
3,Rihanna,1102548147497287680,Report: Rihanna To Sell Office Supplies &amp; ...,2019-03-04 12:35:37,573
4,Chris Brown,1102692675231330304,I'm glad Lady Gaga didn't stay in her lane. Sa...,2019-03-04 22:09:55,2048
5,Lady Gaga,1102920843535966208,You can never go wrong with a classic! 🤩🤩🤩 Mar...,2019-03-05 13:16:35,125
6,Maroon 5,1102468355762532352,When is Justin Bieber gonna release new music,2019-03-04 07:18:33,527
7,Justin Bieber,1102670872010207235,Cardi B's new video delivers East L.A. tacos a...,2019-03-04 20:43:17,15
8,Bruno Mars,1102754928571883521,"📣 Shake it off, Taylor Swift Trivia Night is W...",2019-03-05 02:17:17,615
9,Taylor Swift,1102697124830085120,Strength of both 2019 draft &amp; 2019 free ag...,2019-03-04 22:27:36,16
10,BTS,1102584488452853761,"TXT’s Soobin Is Taking After BTS’s Jin, And No...",2019-03-04 15:00:01,6190
11,Seventeen,1102767435361378304,"WATCH: Members Of #GOT7, #SEVENTEEN, #IZONE, A...",2019-03-05 03:06:59,1514

##### Output to csv

In [60]:
df.to_csv('output_post.csv')

##### Transpose the csv

In [61]:
pd.read_csv('output_post.csv').T.to_csv('twitter_post.csv',header=False)

In [43]:
recnet_24hr_post_ID = []
recnet_post_content = []
recnet_post_time = []
post_retweet_count=[]
post_user_name =[]

##### Collect recentTwitter posts data

In [44]:
tweets = api.user_timeline(screen_name="AvrilLavigne")

In [45]:
for item in tweets: 
    item.text
    item.id
    item.created_at
    item.retweet_count
    item.user.name

In [46]:
    
recnet_24hr_post_ID.append(item.id)
recnet_post_content.append(item.text)
recnet_post_time.append(item.created_at)
post_retweet_count.append(item.retweet_count)
post_user_name.append(item.user.name)

In [47]:
tweet2 = api.user_timeline(screen_name="ArianaGrande")

In [48]:
for item in tweet2: 
    item.text
    item.id
    item.created_at
    item.retweet_count
    item.user.name

In [49]:
    
recnet_24hr_post_ID.append(item.id)
recnet_post_content.append(item.text)
recnet_post_time.append(item.created_at)
post_retweet_count.append(item.retweet_count)
post_user_name.append(item.user.name)

In [50]:
recnet_24hr_post_ID

[1097934391743897600, 1102932362860597248]

In [51]:
tweet3 = api.user_timeline(screen_name="katyperry")

In [52]:
for item in tweet3: 
    item.text
    item.id
    item.created_at
    item.retweet_count
    item.user.name

In [53]:
    
recnet_24hr_post_ID.append(item.id)
recnet_post_content.append(item.text)
recnet_post_time.append(item.created_at)
post_retweet_count.append(item.retweet_count)
post_user_name.append(item.user.name)

In [54]:
tweet4 = api.user_timeline(screen_name="Rihanna")

In [55]:
for item in tweet4: 
    item.text
    item.id
    item.created_at
    item.retweet_count
    item.user.name

In [56]:
    
recnet_24hr_post_ID.append(item.id)
recnet_post_content.append(item.text)
recnet_post_time.append(item.created_at)
post_retweet_count.append(item.retweet_count)
post_user_name.append(item.user.name)

In [57]:
tweet5 = api.user_timeline(screen_name="chrisbrown")

In [58]:
for item in tweet5: 
    item.text
    item.id
    item.created_at
    item.retweet_count
    item.user.name

In [59]:
recnet_24hr_post_ID.append(item.id)
recnet_post_content.append(item.text)
recnet_post_time.append(item.created_at)
post_retweet_count.append(item.retweet_count)
post_user_name.append(item.user.name)

In [60]:
tweet7 = api.user_timeline(screen_name="justinbieber")

In [61]:
for item in tweet7: 
    item.text
    item.id
    item.created_at
    item.retweet_count
    item.user.name

In [62]:
recnet_24hr_post_ID.append(item.id)
recnet_post_content.append(item.text)
recnet_post_time.append(item.created_at)
post_retweet_count.append(item.retweet_count)
post_user_name.append(item.user.name)

In [63]:
tweet8 = api.user_timeline(screen_name="ladygaga")

In [64]:
for item in tweet8: 
    item.text
    item.id
    item.created_at
    item.user.name

In [65]:
recnet_24hr_post_ID.append(item.id)
recnet_post_content.append(item.text)
recnet_post_time.append(item.created_at)
post_retweet_count.append(item.retweet_count)
post_user_name.append(item.user.name)

In [66]:
tweet9 = api.user_timeline(screen_name="maroon5")

In [67]:
for item in tweet9: 
    item.text
    item.id
    item.created_at
    item.retweet_count
    item.user.name

In [68]:
recnet_24hr_post_ID.append(item.id)
recnet_post_content.append(item.text)
recnet_post_time.append(item.created_at)
post_retweet_count.append(item.retweet_count)
post_user_name.append(item.user.name)

In [69]:
tweet10 = api.user_timeline(screen_name="BrunoMars")

In [70]:
for item in tweet10: 
    item.text
    item.id
    item.created_at
    item.retweet_count
    item.user.name

In [71]:
recnet_24hr_post_ID.append(item.id)
recnet_post_content.append(item.text)
recnet_post_time.append(item.created_at)
post_retweet_count.append(item.retweet_count)
post_user_name.append(item.user.name)

In [72]:
tweet11 = api.user_timeline(screen_name="taylorswift13")

In [73]:
for item in tweet11: 
    item.text
    item.id
    item.created_at
    item.retweet_count
    item.user.name

In [74]:
recnet_24hr_post_ID.append(item.id)
recnet_post_content.append(item.text)
recnet_post_time.append(item.created_at)
post_retweet_count.append(item.retweet_count)
post_user_name.append(item.user.name)

In [75]:
b = { 
        "post.user.name":post_user_name,
        "recnet_24hr_post_ID": recnet_24hr_post_ID,
        "recnet_post_content": recnet_post_content,
        "recnet_post_time": recnet_post_time,
        "post_retweet_count": post_retweet_count
        
      
 }
 
df = pd.DataFrame.from_dict(b, orient='index')
df.transpose()

,post.user.name,recnet_24hr_post_ID,recnet_post_content,recnet_post_time,post_retweet_count
0,Avril Lavigne,1097934391743897600,🖤icon. You’re truly missed. https://t.co/8roMH...,2019-02-19 19:02:12,2758
1,Ariana Grande,1102932362860597248,🌫 @starbucks cloud #cloudmacchiato #starbucksa...,2019-03-05 14:02:21,14217
2,KATY PERRY,1102427619683852288,One of my favorite #AmericanIdol moments: turn...,2019-03-04 04:36:41,263
3,Rihanna,1081963144644153345,For the ❤️ of X. Get ready for @savagexfenty's...,2019-01-06 17:18:10,8663
4,Chris Brown,1086751529774841861,#Undecided has hit @ministryofsound’s R&amp;B ...,2019-01-19 22:25:30,792
5,Justin Bieber,1057450701737979904,@torikelly I have listened to this album 10 ti...,2018-10-31 01:54:28,3729
6,Lady Gaga,1094728812321943552,😭❤️a Grammy for Joanne is more than me &amp; m...,2019-02-10 22:44:22,24714
7,Maroon 5,1100222908398370817,RT @maroon5: Blown away by these submissions o...,2019-02-26 02:35:57,173
8,Bruno Mars,1101696054125187077,What’s the plot tho? https://t.co/eh6m7hHB6Z,2019-03-02 04:09:42,3614
9,Taylor Swift,970649231466823681,✨✨✨✨✨✨✨✨✨✨✨✨✨ https://t.co/KHNRCaKfU0,2018-03-05 13:16:25,30671

##### Output to csv

In [76]:
df.to_csv('output_recent_24hr.csv')

##### Transpose the csv

In [77]:
pd.read_csv('output_recent_24hr.csv').T.to_csv('recent_24hr.csv',header=False)

### 2. Spotify API

#### Collect Spotify Data

##### Load the libraries

In [1]:
import pandas as pd
import spotipy
import spotipy.oauth2 as oauth2
import csv

# Load the API token
credentials = oauth2.SpotifyClientCredentials(
        client_id='bb2c8bd8bf164c6da9c2e474047b941b',
        client_secret="06ed1e8f3fda43e3a829a830f03ce777")

token = credentials.get_access_token()
spotify = spotipy.Spotify(auth=token)

print(spotify)

<spotipy.client.Spotify object at 0x11bd0d1d0>

##### Input Singer Name as search key word

In [2]:
#Input the Singer Name from twitter csv
info =pd.read_csv('twitter_singer.csv')
info

,Unnamed: 0,singer_ID,singer_name,singer_url,singer_description,singer_followers_count
0,0,73992972,Avril Lavigne,https://t.co/niyvkKkHrn,BMG Records. Freesolo / Vector Management. PMK...,21722762
1,1,34507480,Ariana Grande,https://t.co/76qmPxOH2C,"thank u, next",61210749
2,2,21447363,KATY PERRY,https://t.co/VxeqPgXTF4,Love. Light.,107002594
3,3,79293791,Rihanna,https://t.co/6HarIyKc3f,Throwing all the shade! @fentybeauty,89893415
4,4,119509520,Chris Brown,https://t.co/jCtn90KqAF,#Undecided available everywhere now! SOMEWHERE...,29841144
5,5,27260086,Justin Bieber,https://t.co/r6Zj8zy1lK,Let's make the world better.,105116612
6,6,14230524,Lady Gaga,https://t.co/6CDfvJPhW0,NaN,78135950
7,7,24886570,Maroon 5,http://t.co/3UhWOxHCRb,This is the Official Twitter page for Maroon 5...,14697963
8,8,100220864,Bruno Mars,https://t.co/lrnSFFfTtz,NaN,42492751
9,9,17919972,Taylor Swift,https://t.co/RSxHoIri2k,The reputation Stadium Tour is streaming now o...,83270778

In [3]:
singers = info['singer_name']
print (singers)

0    Avril Lavigne
1    Ariana Grande
2       KATY PERRY
3          Rihanna
4      Chris Brown
5    Justin Bieber
6        Lady Gaga
7         Maroon 5
8       Bruno Mars
9     Taylor Swift
Name: singer_name, dtype: object

##### Using Singer Name to seach the related song

In [4]:
# Create a new csv to store the data related to song
with open('spotify_song.csv', 'w', newline='') as csvfile:
    fieldnames = ['singer_name', 
                  'singer_spotify_id',
                  'song_name',
                  'song_id',
                  'duration_ms',
                  'song_popularity',
                  'album_name',
                  'album_id'
                  ]
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()
    
# put the data in the csv
    # Make a loop to search all the singer name in the dataset  
    for singer in singers:
        
        # The result of the data releated to singer name          
        results = spotify.search(q=singer, type='track')
        result = results['tracks']
        
        # The most related song 
        track = result['items'][0]
        
        # The artist information of the song
        artist = track['artists'][0] 
        creator_id = artist['id']
        creator_name = artist['name']
        
        # Create a loop in case the singer of the song is the second singer       
        if creator_name == singer:
            artist = track['artists'][0] 
            creator_id = artist['id']
            creator_name = artist['name']
       
        elif singer == 'Justin Bieber':
                track = result['items'][3]
                artist = track['artists'][0] 
                creator_id = artist['id']
                creator_name = artist['name'] 
        else:
            track = result['items'][1]
            artist = track['artists'][0] 
            creator_id = artist['id']
            creator_name = artist['name']
            
            if creator_name != singer:
                track = result['items'][2]
                artist = track['artists'][0] 
                creator_id = artist['id']
                creator_name = artist['name']
            
        
            
        # The information of the song         
        song_id = track['id']
        song_name = track['name']
        duration_ms = track['duration_ms']
        song_popularity = track['popularity']
        
        # The album information of the song
        album = track['album']
        album_name = album['name']
        album_id = album['id']
        
        # Put all the data we get into the csv
        writer.writerow({'singer_name': creator_name, 
                         'singer_spotify_id':creator_id,
                         'song_name':song_name,
                         'song_id':song_id,
                         'duration_ms':duration_ms,
                         'song_popularity':song_popularity,
                         'album_name':album_name,
                         'album_id':album_id,
                         })
        print(singer,":", creator_name,':',album_id)

Avril Lavigne : Avril Lavigne : 3zXjR3y2dUWklKmmp6lEhy
Ariana Grande : Ariana Grande : 2fYhqwDWXjbpjaIJPEfKFw
KATY PERRY : Katy Perry : 5MQBzs5YlZlE28mD9yUItn
Rihanna : Rihanna : 3Q149ZH46Z0f3oDR7vlDYV
Chris Brown : Chris Brown : 0JOT3Ff4gJ939hqdeEpsZv
Justin Bieber : Justin Bieber : 6Fr2rQkZ383FcMqFyT7yPr
Lady Gaga : Lady Gaga : 4sLtOBOzn4s3GDUv3c5oJD
Maroon 5 : Maroon 5 : 75iQSBSaztFIAun9qLLCnb
Bruno Mars : Bruno Mars : 4PgleR09JVnm3zY1fW3XBA
Taylor Swift : Taylor Swift : 6DEjYFkNZh67HP7R9PSZvv

##### Using Album ID to seach the related album

In [5]:
# Get the album id in song csv
album_info =pd.read_csv('spotify_song.csv')
album_ids = album_info['album_id']
# singerNameS = album_info['singer_name']

In [6]:
# Create a new csv to store the data related to album
with open('spotify_album.csv', 'w', newline='') as csvfile:
    fieldnames = ['singer_name',
                  'singer_spotify_id',
                  'album_name',
                  'album_id',
                  'album_date',
                  'total_tracks']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()
    
# put the data in the csv
    # Make a loop to search all the album id in the dataset    
    for album_idd in album_ids:        
        # The result of the data releated to album
        album_item = spotify.album(album_idd)
        
        # The artist information of the album
        bb = album_item['artists'][0]
        album_creator = bb['name']
        album_creator_id = bb['id']
        
        # The album information of the song
        album_name = album_item['name']
        album_id = album_item['id']
        album_date = album_item['release_date']
        total_tracks = album_item['total_tracks']
        
        
        # Put all the data we get into the csv
        writer.writerow({
                         'singer_name': album_creator,
                         'singer_spotify_id': album_creator_id,
                         'album_name': album_name,
                         'album_id': album_id,
                         'album_date': album_date, 
                         'total_tracks': total_tracks
                        })
        print(album_idd,":", album_id,":", album_creator)

3zXjR3y2dUWklKmmp6lEhy : 3zXjR3y2dUWklKmmp6lEhy : Avril Lavigne
2fYhqwDWXjbpjaIJPEfKFw : 2fYhqwDWXjbpjaIJPEfKFw : Ariana Grande
5MQBzs5YlZlE28mD9yUItn : 5MQBzs5YlZlE28mD9yUItn : Katy Perry
3Q149ZH46Z0f3oDR7vlDYV : 3Q149ZH46Z0f3oDR7vlDYV : Rihanna
0JOT3Ff4gJ939hqdeEpsZv : 0JOT3Ff4gJ939hqdeEpsZv : Chris Brown
6Fr2rQkZ383FcMqFyT7yPr : 6Fr2rQkZ383FcMqFyT7yPr : Justin Bieber
4sLtOBOzn4s3GDUv3c5oJD : 4sLtOBOzn4s3GDUv3c5oJD : Lady Gaga
75iQSBSaztFIAun9qLLCnb : 75iQSBSaztFIAun9qLLCnb : Maroon 5
4PgleR09JVnm3zY1fW3XBA : 4PgleR09JVnm3zY1fW3XBA : Bruno Mars
6DEjYFkNZh67HP7R9PSZvv : 6DEjYFkNZh67HP7R9PSZvv : Taylor Swift

##### Using Creator ID to seach the related singer

In [7]:
# Get the singer id in album csv
artist_info =pd.read_csv('spotify_album.csv')
creator_ids = artist_info['singer_spotify_id']

In [8]:
# Create a new csv to store the data related to album
with open('spotify_artist.csv', 'w', newline='') as csvfile:
    fieldnames = [
                  'singer_name', 
                  'singer_spotify_id',
                  'singer_spotify_followers',
                  'singer_spotify_popularity',
                  'total_albums',
                  'top_1_related_artist',
                  'top_2_related_artist',
                  'top_3_related_artist'
                 ]
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()
    
    
# put the data in the csv
    # Make a loop to search all the singer id in the dataset
    for creator_id in creator_ids:
        
        # The result of the data releated to artist
        artist = spotify.artist(creator_id)
        
        # The artist information of the album
        artist_name = artist['name']
        
        creator_name == singer
        artist_id = artist['id']
        gg = artist['followers']
        artist_followers = gg['total']
        artist_popularity = artist['popularity']
        
        # The total albums of the singer has 
        uri = 'spotify:artist:'+ creator_id
        total_albums_results = spotify.artist_albums(uri, album_type='album')
        total_albums = total_albums_results['total']
        
        # The related artists of the singer
        related_artists = spotify.artist_related_artists(artist_id)
        #top 1 related Artists
        top1 = related_artists['artists'][0]
        top1_name= top1['name']
        #top 2 related Artists
        top2 = related_artists['artists'][1]
        top2_name= top2['name']
        #top 3 related Artists
        top3 = related_artists['artists'][2]
        top3_name= top3['name']
        
        # Put all the data we get into the csv
        writer.writerow({
                         'singer_name': artist_name, 
                         'singer_spotify_id': artist_id,
                         'singer_spotify_followers': artist_followers,
                         'singer_spotify_popularity': artist_popularity,                                           
                    
                         'total_albums': total_albums,
                         
                         'top_1_related_artist': top1_name,
                         'top_2_related_artist': top2_name,
                         'top_3_related_artist': top3_name,                
                        })
        print(creator_id,":", artist_id,':', artist_name)

0p4nmQO2msCgU4IF37Wi3j : 0p4nmQO2msCgU4IF37Wi3j : Avril Lavigne
66CXWjxzNUsdJxJ2JdwvnR : 66CXWjxzNUsdJxJ2JdwvnR : Ariana Grande
6jJ0s89eD6GaHleKKya26X : 6jJ0s89eD6GaHleKKya26X : Katy Perry
5pKCCKE2ajJHZ9KAiaK11H : 5pKCCKE2ajJHZ9KAiaK11H : Rihanna
7bXgB6jMjp9ATFy66eO08Z : 7bXgB6jMjp9ATFy66eO08Z : Chris Brown
1uNFoZAHBGtllmzznpCI3s : 1uNFoZAHBGtllmzznpCI3s : Justin Bieber
1HY2Jd0NmPuamShAr6KMms : 1HY2Jd0NmPuamShAr6KMms : Lady Gaga
04gDigrS5kc9YWfZHwBETP : 04gDigrS5kc9YWfZHwBETP : Maroon 5
0du5cEVh5yTK9QJze8zA0C : 0du5cEVh5yTK9QJze8zA0C : Bruno Mars
06HL4z0CvFAxyc27GXpf02 : 06HL4z0CvFAxyc27GXpf02 : Taylor Swift

##### Related Singer's data

In [9]:
# Get the singer id in album csv
realted_artist_info =pd.read_csv('spotify_artist.csv')
top_1_related = realted_artist_info['top_1_related_artist']

In [10]:
# Create a new csv to store the data related to song
with open('spotify_song.csv', 'a+', newline='') as csvfile:
    fieldnames = [
                  'singer_name', 
                  'singer_spotify_id',
                  'song_name',
                  'song_id',
                  'duration_ms',
                  'song_popularity',
                  'album_name',
                  'album_id'
                  ]
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)    

# put the data in the csv
    # Make a loop to search all the singer name in the dataset  
    for singer in top_1_related:
        
        # The result of the data releated to singer name          
        results = spotify.search(q=singer, type='track')
        result = results['tracks']
        
        # The most related song 
        track = result['items'][0]
        
        # The information of the song         
        song_id = track['id']
        song_name = track['name']
        duration_ms = track['duration_ms']
        song_popularity = track['popularity']
        
        # The artist information of the song
        artist = track['artists'][0] 
        creator_id = artist['id']
        creator_name = artist['name']
        
        # Create a loop in case the singer of the song is the second singer       
        if creator_name == singer:
            artist = track['artists'][0] 
            creator_id = artist['id']
            creator_name = artist['name']
        
        
        elif len(track['artists']) < 2:
            creator_name = 'Brain'
            
        else:
            artist = track['artists'][1] 
            creator_id = artist['id']
            creator_name = artist['name']
        
            
        # The album information of the song
        album = track['album']
        album_name = album['name']
        album_id = album['id']
        
        # Put all the data we get into the csv
        writer.writerow({'singer_name': creator_name, 
                         'singer_spotify_id':creator_id,
                         'song_name':song_name,
                         'song_id':song_id,
                         'duration_ms':duration_ms,
                         'song_popularity':song_popularity,
                         'album_name':album_name,
                         'album_id':album_id,
                         })
        print(singer,":", creator_name)

The Veronicas : The Veronicas
Camila Cabello : Camila Cabello
Avril Lavigne : Avril Lavigne
Nicki Minaj : Nicki Minaj
Jeremih : Jeremih
Niall Horan : Niall Horan
Carly Rae Jepsen : Carly Rae Jepsen
OneRepublic : OneRepublic
Jason Derulo : Jason Derulo
Selena Gomez : Selena Gomez

In [11]:
# Get the singer id in album csv
realted_artist_info =pd.read_csv('spotify_artist.csv')
top_2_related = realted_artist_info['top_2_related_artist']

In [12]:
# Create a new csv to store the data related to song
with open('spotify_song.csv', 'a+', newline='') as csvfile:
    fieldnames = ['singer_name', 
                  'singer_spotify_id',
                  'song_name',
                  'song_id',
                  'duration_ms',
                  'song_popularity',
                  'album_name',
                  'album_id'
                  ]
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
         
# put the data in the csv
    # Make a loop to search all the singer name in the dataset  
    for singer in top_2_related:
        
        # The result of the data releated to singer name          
        results = spotify.search(q=singer, type='track')
        result = results['tracks']
        
        # The most related song 
        track = result['items'][0]
        
        # The information of the song         
        song_id = track['id']
        song_name = track['name']
        duration_ms = track['duration_ms']
        song_popularity = track['popularity']
        
        # The artist information of the song
        artist = track['artists'][0] 
        creator_id = artist['id']
        creator_name = artist['name']
        
        # Create a loop in case the singer of the song is the second singer       
        if creator_name == singer:
            artist = track['artists'][0] 
            creator_id = artist['id']
            creator_name = artist['name']
        
        
        elif len(track['artists']) < 2:
            creator_name = 'Brain'
            
        else:
            artist = track['artists'][1] 
            creator_id = artist['id']
            creator_name = artist['name']
        
            
        # The album information of the song
        album = track['album']
        album_name = album['name']
        album_id = album['id']
        
        # Put all the data we get into the csv
        writer.writerow({'singer_name': creator_name, 
                         'singer_spotify_id':creator_id,
                         'song_name':song_name,
                         'song_id':song_id,
                         'duration_ms':duration_ms,
                         'song_popularity':song_popularity,
                         'album_name':album_name,
                         'album_id':album_id,
                         })
        print(singer,":", creator_name)

Ashlee Simpson : Ashlee Simpson
ZAYN : ZAYN
Kelly Clarkson : Kelly Clarkson
Beyoncé : Beyoncé
Trey Songz : Trey Songz
ZAYN : ZAYN
Troye Sivan : Troye Sivan
The Script : The Script
Jessie J : Jessie J
Demi Lovato : Demi Lovato

In [13]:
# Get the singer id in album csv
realted_artist_info =pd.read_csv('spotify_artist.csv')
top_3_related = realted_artist_info['top_3_related_artist']

In [14]:
# Create a new csv to store the data related to song
with open('spotify_song.csv', 'a+', newline='') as csvfile:
    fieldnames = ['singer_name', 
                  'singer_spotify_id',
                  'song_name',
                  'song_id',
                  'duration_ms',
                  'song_popularity',
                  'album_name',
                  'album_id'
                  ]
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    
# put the data in the csv
    # Make a loop to search all the singer name in the dataset  
    for singer in top_3_related:
        
        # The result of the data releated to singer name          
        results = spotify.search(q=singer, type='track')
        result = results['tracks']
        
        # The most related song 
        track = result['items'][0]
        
        # The information of the song         
        song_id = track['id']
        song_name = track['name']
        duration_ms = track['duration_ms']
        song_popularity = track['popularity']
        
        # The artist information of the song
        artist = track['artists'][0] 
        creator_id = artist['id']
        creator_name = artist['name']
        
        # Create a loop in case the singer of the song is the second singer       
        if creator_name == singer:
            artist = track['artists'][0] 
            creator_id = artist['id']
            creator_name = artist['name']
        
        
        elif len(track['artists']) < 2:
            creator_name = 'Cash Cash'
            
        elif singer == 'Juicy J' :
            creator_name = 'Juicy J'
            
        else:
            artist = track['artists'][1] 
            creator_id = artist['id']
            creator_name = artist['name']
        
            
        # The album information of the song
        album = track['album']
        album_name = album['name']
        album_id = album['id']
        
        # Put all the data we get into the csv
        writer.writerow({'singer_name': creator_name, 
                         'singer_spotify_id':creator_id,
                         'song_name':song_name,
                         'song_id':song_id,
                         'duration_ms':duration_ms,
                         'song_popularity':song_popularity,
                         'album_name':album_name,
                         'album_id':album_id,
                         })
        print(singer,":", creator_name)

Hilary Duff : Hilary Duff
Dua Lipa : Dua Lipa
Selena Gomez & The Scene : Selena Gomez & The Scene
Miley Cyrus : Miley Cyrus
Mario : Mario
Liam Payne : Liam Payne
Kim Petras : Kim Petras
Train : Train
Sean Kingston : Sean Kingston
Miley Cyrus : Miley Cyrus

In [15]:
# Get the album id in song csv
album_info =pd.read_csv('spotify_song.csv')
album_ids = album_info['album_id']

In [16]:
# Create a new csv to store the data related to album
with open('spotify_album.csv', 'w', newline='') as csvfile:
    fieldnames = [
        'singer_name',
                  'singer_spotify_id',
                  'album_name',
                  'album_id',
                  'album_date',
                  'total_tracks'
    ]
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()
    

# put the data in the csv
    # Make a loop to search all the album id in the dataset
    for album_idd in album_ids:
        
        # The result of the data releated to album
        album_item = spotify.album(album_idd)
        
        # The artist information of the album
        bb = album_item['artists'][0]
        album_creator = bb['name']
        album_creator_id = bb['id']
        
        # The album information of the song
        album_name = album_item['name']
        album_id = album_item['id']
        album_date = album_item['release_date']
        total_tracks = album_item['total_tracks']
        
        
        # Put all the data we get into the csv
        writer.writerow({
                         'singer_name': album_creator,
                         'singer_spotify_id': album_creator_id,
                         'album_name': album_name,
                         'album_id': album_id,
                         'album_date': album_date, 
                         'total_tracks': total_tracks
                        })
        print(album_idd,":", album_id)

3zXjR3y2dUWklKmmp6lEhy : 3zXjR3y2dUWklKmmp6lEhy
2fYhqwDWXjbpjaIJPEfKFw : 2fYhqwDWXjbpjaIJPEfKFw
5MQBzs5YlZlE28mD9yUItn : 5MQBzs5YlZlE28mD9yUItn
3Q149ZH46Z0f3oDR7vlDYV : 3Q149ZH46Z0f3oDR7vlDYV
0JOT3Ff4gJ939hqdeEpsZv : 0JOT3Ff4gJ939hqdeEpsZv
6Fr2rQkZ383FcMqFyT7yPr : 6Fr2rQkZ383FcMqFyT7yPr
4sLtOBOzn4s3GDUv3c5oJD : 4sLtOBOzn4s3GDUv3c5oJD
75iQSBSaztFIAun9qLLCnb : 75iQSBSaztFIAun9qLLCnb
4PgleR09JVnm3zY1fW3XBA : 4PgleR09JVnm3zY1fW3XBA
6DEjYFkNZh67HP7R9PSZvv : 6DEjYFkNZh67HP7R9PSZvv
6aL2SwYj5kSEvIcYORHP37 : 6aL2SwYj5kSEvIcYORHP37
6hCR3zQtRH0IgookOYt771 : 6hCR3zQtRH0IgookOYt771
3zXjR3y2dUWklKmmp6lEhy : 3zXjR3y2dUWklKmmp6lEhy
03KcW1ZhaSnj8pIk1LUNQs : 03KcW1ZhaSnj8pIk1LUNQs
7DMyQuDPe8xzjC0UDSDa96 : 7DMyQuDPe8xzjC0UDSDa96
1xJ7jIK1tT0aVoJw1fPE6r : 1xJ7jIK1tT0aVoJw1fPE6r
29blfJv8AddJrjuG3DpE13 : 29blfJv8AddJrjuG3DpE13
49vus1VCWc7AbgDmKYb8SC : 49vus1VCWc7AbgDmKYb8SC
2e5CxfyEwBW115beiwh7Mc : 2e5CxfyEwBW115beiwh7Mc
0ZHyvPke0EcVt6rYA8Ins3 : 0ZHyvPke0EcVt6rYA8Ins3
0w11HUk0hE4WZ95Bvp6vNI : 0w11HUk0hE4WZ95Bvp6vNI
5l5gR4rh26QI3fijGFTDrp : 5l5gR4rh26QI3fijGFTDrp
5gDAEao3VxFdbm8vS0koQq : 5gDAEao3VxFdbm8vS0koQq
39P7VD7qlg3Z0ltq60eHp7 : 39P7VD7qlg3Z0ltq60eHp7
1LShhEEKRT5MNPcO7jtYHh : 1LShhEEKRT5MNPcO7jtYHh
5l5gR4rh26QI3fijGFTDrp : 5l5gR4rh26QI3fijGFTDrp
13yMsBNa2femeWzhcDOqFw : 13yMsBNa2femeWzhcDOqFw
51Hn2Wiq1jmUfI0BLaUhuF : 51Hn2Wiq1jmUfI0BLaUhuF
2rDIivxBafNKpgRqlzIRSb : 2rDIivxBafNKpgRqlzIRSb
1q7a5wZeti0neU2jDn8Dz3 : 1q7a5wZeti0neU2jDn8Dz3
2zfZe8P8jg53kZaAfCdBYs : 2zfZe8P8jg53kZaAfCdBYs
429B3se6xtZuvblNnS2iy7 : 429B3se6xtZuvblNnS2iy7
49yHvRh1cOfLcEKukEP7Ox : 49yHvRh1cOfLcEKukEP7Ox
2hBfao8GWZwHlUGDB8HVQO : 2hBfao8GWZwHlUGDB8HVQO
7EXstuWka51pNFzEAidEol : 7EXstuWka51pNFzEAidEol
4PrFFsJ2WAD46IXNdfx2dx : 4PrFFsJ2WAD46IXNdfx2dx
4HbNtklEO6XJv638wZ1MZg : 4HbNtklEO6XJv638wZ1MZg
1CwXS6MAz8Wo7K4TzW9iuR : 1CwXS6MAz8Wo7K4TzW9iuR
71clfVkkopYLrgweVj2cow : 71clfVkkopYLrgweVj2cow
2hBfao8GWZwHlUGDB8HVQO : 2hBfao8GWZwHlUGDB8HVQO

### 3. Company Data

In [1]:
# Inpit the download data
import pandas as pd

In [2]:
df = pd.read_csv('company_data.csv')
df

,Company Name,Date of establishment,Artists,Typical Artists
0,Sony Music Entertainment Inc.,02/02/1998,56,Joan Jett
1,RCA Rcords,03/04/2002,32,Avril Lavigne
2,Arista Records,01/04/2001,42,Brett James
3,Epic Records,04/09/2001,34,Mariah Carey
4,Nettwerk,09/08/2008,23,Coldplay
5,Def Jam Recordings,10/12/2009,56,Rihanna
6,Big Machine Records,10/11/1999,23,Taylor Swift
7,CAPITOL RECORDS.,09/10/1997,29,katy Perry
8,Interscope Records,12/12/2002,32,Maroon5
9,Atlantic Records,06/12/1999,19,Bruno Mars
10,Republic Records,02/04/1997,23,Ariana Grande

## Part I - Conceptual Model

### A domain 
We select music as the domain. 

### Conceptual models (entities) 
- For the song entity, it contains attributes of name, singer, album and runtime. A song only belongs to one album and one album contains one or more songs. 
- For the album entity, it contains attributes of name, singer and release year. It can be produced by one or more producers and one producer can produce one more albums. It only can be performed by one singer and one singer can perform one or more albums. 
- For the Record Company entity, it contains attributes of name and date of establishment. It has one or more singers and each singer only belongs to one company. It also has one or more producers and each producer only belongs to one record company.
- For the singer entity, it contains attributes of name, gender and DOB. One singer can have zero or more Twitter account and one Twitte account can be only owned by one singer. 
- For the Twitter User, it contains attributes of username and user ID. The user ID is the primary key. One Twitter User can post zero or more threads and one thread only can be posted by one user. Also, one user can only post one profile and one profile can only can owned by one user. The attributes of the Twitter post are user name as foreign key, Post ID as the primary key and Post time. The attributes of Twitter Profile are first name, last name, age, graduate school and gender.

![ERD](images/ERD.png)

### Questions you must answer about your conceptual model:
1.	What are the ranges, data types and format of all of the attributes in your entities?
    - Ranges of the string is 50. The data types and format we are using is string, date, double, int. 


2.	When should you use an entity versus attribute? (Example: address of a person could be modeled as either)
    - Use entity when I have access to more relatd data, and the data itself has strong relationship with the existing entity. Use attribute when I get this data without other related data.  
    
    
3.	When should you use an entity or relationship, and placement of attributes? (Example: a manager could be modeled as either)
    - Like in our case, twitter user and twitter post are entities, but these two still have relationship between each other. So twitter user's username will be a foreign key in twitter post entity.
    
    
4.	How did you choose your keys? Which are unique?
    - Primary key should be a unique identifier that without null value. And foreign key is a key in one table that uniquely identifies a row of another table or the same table.
    
    
5.	Did you model hierarchies using the “ISA” design element? Why or why not?
    - No, because in our model, the entity don't has that kind of relationship.
    
    
6.	Were there design alternatives? What are their tradeoffs: entity vs. attribute, entity vs. relationship, binary vs. ternary relationships?
    - Yes, they are alternative, like each attribute can be a entity if we can get enough data related to that attibutes. 
    
    
7.	Where are you going to find real-world data to populate your model?
    - I can get the data by using API from different social media.

## Part I - Social Media Account

### Updated Conceptual models
- Each singer has one record company, one twitter account, one spotify account, and created many songs and albums.
- Each record company has many singers.
- Each song has one singer. And each song belong to one album.
- Each album has many songs. And each album belong to one singer.
- Each twitter account has one most popular post, and many 24hr posts. And each twitter belong to one singer.
- Each most popular post created by one twitter account.
- Each 24hr post are created by one twitter account.

![ERD_update](images/ERD_update.png)

## Part II - Physical Model

### Create the database

```sql
create table Twitter_singers (
singer_id varchar(50) primary key,
singer_name varchar(50),
singer_url varchar(2000),
singer_description varchar(1000),
singer_followers_count varchar(50)
);

drop table Twitter_singers;
SHOW VARIABLES LIKE "secure_file_priv";

sHOW GLOBAL VARIABLES LIKE 'local_infile';
SET GLOBAL local_infile = 'ON';
SHOW GLOBAL VARIABLES LIKE 'local_infile';

LOAD DATA local INFILE '/Users/cyyo/Desktop/twitter_singers.csv'
INTO TABLE Twitter_singers
CHARACTER SET latin1
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"' 
LINES TERMINATED BY '\r\n'
IGNORE 1 LINES;

SELECT * FROM Twitter_singers;

create table Company_data (
Company_name varchar(50) primary key,
Date_of_establishment varchar(50),
Artists_number INTEGER,
Typical_singers varchar(100)
);

LOAD DATA local INFILE '/Users/cyyo/Desktop/company_data.csv'
INTO TABLE Company_data
CHARACTER SET latin1
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"' 
LINES TERMINATED BY '\r\n'
IGNORE 1 LINES;


SELECT * FROM Company_data;

create table Spotify_singer_Account (
Spotify_singer_name varchar(50),
Spotify_singer_ID varchar(50) primary key,
Spotify_singer_followers INTEGER,
singer_spotify_popularity integer,
Spotify_singer_total_albums INTEGER,
Spotify_singer_top_1_related_artist varchar(50),
Spotify_singer_top_2_related_artist varchar(50),
Spotify_singer_top_3_related_artist varchar(50)
);
drop table Spotify_singer_Account;
LOAD DATA local INFILE '/Users/cyyo/Desktop/spotify_artist.csv'
INTO TABLE Spotify_singer_Account
CHARACTER SET latin1
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"' 
LINES TERMINATED BY '\r\n'
IGNORE 1 LINES;


SELECT * FROM Spotify_singer_Account;


create table Spotify_album (
singer_name varchar(50) ,
singer_id varchar(50),
album_name varchar(50),
album_id varchar(50) primary key,
album_relase_date varchar(100),
total_tracks Integer
);
drop table Spotify_album;
LOAD DATA local INFILE '/Users/cyyo/Desktop/spotify_album.csv'
INTO TABLE Spotify_album
CHARACTER SET latin1
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"' 
LINES TERMINATED BY '\r\n'
IGNORE 1 LINES;


SELECT * FROM Spotify_album;

create table Spotify_songs (
singer_name varchar(50) ,
singer_id varchar(50),
song_name varchar(50),
song_id varchar(100) primary key,
duration_ms Integer,
song_popularity integer,
album_name varchar(50),
album_id varchar(50)

);
drop table Spotify_songs;
LOAD DATA local INFILE '/Users/cyyo/Desktop/spotify_song.csv'
INTO TABLE Spotify_songs
CHARACTER SET latin1
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"' 
LINES TERMINATED BY '\r\n'
IGNORE 1 LINES;


SELECT * FROM Spotify_songs;

create table twitter_post (
singer_name varchar(50),
most_popular_post_ID varchar(50) primary key,
post_content varchar(200),
post_time varchar(100),
post_retweet_count Integer
);
drop table twitter_post;
LOAD DATA local INFILE '/Users/cyyo/Desktop/twitter_post.csv'
INTO TABLE twitter_post
CHARACTER SET latin1
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"' 
LINES TERMINATED BY '\r\n'
IGNORE 1 LINES;


SELECT * FROM twitter_post;


create table 24hr_twitter_post (
singer_name varchar(50),
recnet_post_ID varchar(50) primary key,
recnet_post_content varchar(200),
recnet_post_time varchar(100),
recnet_post_retweet_count Integer
);
drop table 24hr_twitter_post;
LOAD DATA local INFILE '/Users/cyyo/Desktop/recent_24hr.csv'
INTO TABLE 24hr_twitter_post
CHARACTER SET latin1
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"' 
LINES TERMINATED BY '\r\n'
IGNORE 1 LINES;


SELECT * FROM 24hr_twitter_post;
```

### Phsical Model
![physical model](images/physical.png)

### Queries you must answer about your physical model (In SQL):
1.	What user posted this (e.g. tweet, facebook post, IG post, etc.)?
    - Twitter singers name data from the  Twitter singers entity.
    
    
2.	When did the user post this (e.g. tweet, facebook post, IG post, etc.)??
    -  recent_post_time data from 24hr Twitter Post entity.
    
    
3.	What posts has this user posted in the past 24 hours?
    - recent_post_content from 24hr Twitter Post entity.
    
    
4.	How many post has this user posted in the past 24 hours?
    - Different Twitter singers have different results.
    
    
5.	What keywords/ hashtags are popular?
    - Judge by retweets of the most popular post result, keywords"BTS", "Chris Brown", "Seventeen"are popular.
    
    
6.	What posts are popular?
    - post_content from Twitter post. (which is the most popular post)

## Part II - Use Cases

### Use Case 1 <br>
Description: Get all the Twitter singers' name who are the typical singers the the all ompany data.

```sql
SELECT s.singer_name,c.Company_name
FROM (Twitter_singers s inner JOIN Company_data c ON c.Typical_singers = s.singer_name)
ORDER BY s.singer_name DESC
LIMIT 10;
```

```
+---------------+---------------------+
| singer_name   | Company_name        |
|---------------|---------------------|
| Taylor Swift  | Big Machine Records |
| Rihanna       | Def Jam Recordings  |
| KATY PERRY    | CAPITOL RECORDS.    |
| Bruno Mars    | Atlantic Records    |
| Avril Lavigne | RCA Rcords          |
| Ariana Grande | Republic Records    |
+---------------+---------------------+
```

### Use Case 2 <br>
Description: Get the most popular post content for the Twitter singers

```sql
SELECT s.singer_name,p.most_popular_post_ID,p.post_content
FROM (Twitter_singers s left JOIN twitter_post p ON s.singer_name = p.singer_name)
ORDER BY p.most_popular_post_ID DESC
LIMIT 8;
```

```
+---------------+----------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------+
| singer_name   | most_popular_post_ID | post_content                                                                                                                                           |
+---------------+----------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------+
| Ariana Grande | 1102985085719068672  | love someone in your life as much as Jake Tapper loves the US war machine. Man is always there like one of those we… https://t.co/IGhzrnYeWo           |
| KATY PERRY    | 1102866539433254918  | hi I’m wide awake and I can never say that without singing the katy perry song....lol                                                                  |
| Avril Lavigne | 1102763914368970752  | "I saw a lot of friends disappear," @AvrilLavigne says of her battle with #Lyme disease. "Now I keep my group small… https://t.co/EfNotExPk3           |
| Taylor Swift  | 1102697124830085120  | Strength of both 2019 draft &amp; 2019 free agency is defensive line. Good FA group for DTs &amp; 3-4 DE types even with Gr… https://t.co/YIUij4oP9n   |
| Chris Brown   | 1102692675231330304  | I'm glad Lady Gaga didn't stay in her lane. Same for Chris Jericho,Justin Timberlake, Mark Wahlberg,The Rock,etc. A… https://t.co/zqCpkS6wd5           |
| Justin Bieber | 1102670872010207235  | Cardi B's new video delivers East L.A. tacos and Bruno Mars:

https://t.co/FpLKl5Kx7w https://t.co/2wv7NFwulz                                          |
| Rihanna       | 1102548147497287680  | Report: Rihanna To Sell Office Supplies &amp; Garden Ware https://t.co/oGrLduJRuX https://t.co/5OYO85JaKS                                              |
| Maroon 5      | 1102468355762532352  | When is Justin Bieber gonna release new music                                                                                                          |
+---------------+----------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------+
```

### Use Case 3 <br>
Description: Get the Twitter singers' recent post content in 24 hours

```sql
SELECT s.singer_name,o.recnet_post_ID,o.recnet_post_content
FROM (Twitter_singers s left JOIN 24hr_twitter_post o ON s.singer_name = o.singer_name)
ORDER BY o.recnet_post_ID DESC
LIMIT 10;
```

```
+---------------+----------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| singer_name   | recnet_post_ID | recnet_post_content                                                                                                                                                      |
+---------------+----------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Taylor Swift  | 9.70649E+17    | â¨â¨â¨â¨â¨â¨â¨â¨â¨â¨â¨â¨â¨ https://t.co/KHNRCaKfU0                                                                                                          |
| Ariana Grande | 1.10293E+18    | Ť @starbucks cloud #cloudmacchiato #starbucksambassador #trythesoyversion ą https://t.co/y2LRAx33Sq                                                                  |
| KATY PERRY    | 1.10243E+18    | One of my favorite #AmericanIdol moments: turning uncle @LionelRichie into FASHUN ź                                                                                 |
| Bruno Mars    | 1.1017E+18     | Whatâs the plot tho? https://t.co/eh6m7hHB6Z                                                                                                                           |
| Maroon 5      | 1.10022E+18    | RT @maroon5: Blown away by these submissions on @yarntexts! Check out our favorites from "Girls Like Youâ! https://t.co/IeEZT9vX0Z https://âŚ"                        |
| Avril Lavigne | 1.09793E+18    | ¤icon. Youâre truly missed. https://t.co/8roMHjW70o                                                                                                                  |
| Lady Gaga     | 1.09473E+18    | ­â¤ď¸a Grammy for Joanne is more than me &amp; my family could ever dream of. I sang that version in one take, &amp; poured mâŚ https://t.co/QeiWEjfjF0             |
| Chris Brown   | 1.08675E+18    | #Undecided has hit @ministryofsoundâs R&amp;B Mixtape playlist! Stream exclusively on @applemusic now! 
Playlist link:âŚ https://t.co/bIZ89gxkGs                      |
| Rihanna       | 1.08196E+18    | For the â¤ď¸ of X. Get ready for @savagexfenty's Valentine's Day styles - out Jan. 9th! https://t.co/oG4Xocxo9a                                                        |
| Justin Bieber | 1.05745E+18    | @torikelly I have listened to this album 10 times in a row. Incredible                                                                                                   |
+---------------+----------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------+                                                          
```

### Use Case 4 <br>
Description: Get all the albums name and id from the Spotify singers'

```sql
SELECT s.Spotify_singer_name,o.album_id,o.album_name 
FROM (Spotify_singer_Account s left JOIN Spotify_album o ON s.Spotify_singer_name = o.singer_name)
ORDER BY o.album_id DESC
LIMIT 10;
```

```
+---------------------+------------------------+--------------------------------+
| Spotify_singer_name | album_id               | album_name                     | 
|---------------------|------------------------|--------------------------------|
| Maroon 5            | 75iQSBSaztFIAun9qLLCnb | Girls Like You (feat. Cardi B) |  
| Justin Bieber       | 6Fr2rQkZ383FcMqFyT7yPr | Purpose (Deluxe)               |  
| Taylor Swift        | 6DEjYFkNZh67HP7R9PSZvv | reputation                     |  
| Katy Perry          | 5MQBzs5YlZlE28mD9yUItn | PRISM (Deluxe)                 |  
| Lady Gaga           | 4sLtOBOzn4s3GDUv3c5oJD | A Star Is Born Soundtrack      |  
| Bruno Mars          | 4PgleR09JVnm3zY1fW3XBA | 24K Magic                      |   
| Avril Lavigne       | 3zXjR3y2dUWklKmmp6lEhy | Let Go                         |   
| Rihanna             | 3Q149ZH46Z0f3oDR7vlDYV | ANTI                           |   
| Ariana Grande       | 2fYhqwDWXjbpjaIJPEfKFw | thank u,next                   |   
| Chris Brown         | 0JOT3Ff4gJ939hqdeEpsZv | Undecided                      |   
+---------------------+------------------------+--------------------------------+
```

### Use Case 5 <br>
Description: Get all the songs name and id from the Spotify singers' which Singer have the most followers

```sql
SELECT s.Spotify_singer_name,o.song_id,o.song_name 
FROM (Spotify_singer_Account s inner JOIN Spotify_songs o ON s.Spotify_singer_name = o.singer_name)
ORDER BY o.song_id DESC
LIMIT 10;
```

```
+---------------------+------------------------+------------------------------------------+
| Spotify_singer_name | song_id                | song_name                                |
+---------------------+------------------------+------------------------------------------+
| Chris Brown         | 7uiBocndm12aKbsdnQ3Scx | Undecided                                |
| Taylor Swift        | 6NFyWDv5CjfwuzoCkw47Xf | Delicate                                 |
| Maroon 5            | 6FRLCMO5TUHTexlWo8ym1W | Girls Like You (feat. Cardi B)           |
| Avril Lavigne       | 5xEM5hIgJ1jjgcEBfpkt2F | Complicated                              |
| Katy Perry          | 5jrdCoLpJSvHHorevXBATy | Dark Horse                               |
| Justin Bieber       | 50kpGaPAhYJ3sGmk6vplg0 | Love Yourself                            |
| Ariana Grande       | 4kV4N9D1iKVxx1KLvtTpjS | break up with your girlfriend, i'm bored |
| Lady Gaga           | 2VxeLyX666F8uXCJ0dZF8B | Shallow                                  |
| Rihanna             | 2aksifNn5ph8igDOkPBA02 | Love On The Brain                        |
| Bruno Mars          | 0KKkJNfGyhkQ5aFogxQAPU | That's What I Like                       |
+---------------------+------------------------+------------------------------------------+
```

### Use Case 6 <br>
Description: Get all the songs name,id and popularity and from the typical singers of the companies  which Singer have the most followers

```sql
SELECT o.song_popularity,o.song_id,o.song_name,c.Company_name,c.Typical_singers
FROM ( Company_data c inner JOIN Spotify_songs o ON o.singer_name = c.Typical_singers)
ORDER BY o.song_id DESC
LIMIT 10;
```

```
+-----------------+------------------------+------------------------------------------+---------------------+-----------------+
| song_popularity | song_id                | song_name                                | Company_name        | Typical_singers |
+-----------------+------------------------+------------------------------------------+---------------------+-----------------+
|              80 | 6NFyWDv5CjfwuzoCkw47Xf | Delicate                                 | Big Machine Records | Taylor Swift    |
|              76 | 5xEM5hIgJ1jjgcEBfpkt2F | Complicated                              | RCA Rcords          | Avril Lavigne   |
|              77 | 5jrdCoLpJSvHHorevXBATy | Dark Horse                               | CAPITOL RECORDS.    | katy Perry      |
|              99 | 4kV4N9D1iKVxx1KLvtTpjS | break up with your girlfriend, i'm bored | Republic Records    | Ariana Grande   |
|              73 | 2aksifNn5ph8igDOkPBA02 | Love On The Brain                        |  Def Jam Recordings | Rihanna         |
|              84 | 0KKkJNfGyhkQ5aFogxQAPU | That's What I Like                       | Atlantic Records    | Bruno Mars      |
+-----------------+------------------------+------------------------------------------+---------------------+-----------------+
```

### Use Case 7 <br>
Description: Get all the Spotify singers' total albums who are the typical singers the the all ompany data

```sql
SELECT s.Spotify_singer_name,s.Spotify_singer_total_albums,c.Company_name
FROM (Spotify_singer_Account s inner JOIN Company_data c ON c.Typical_singers = s.Spotify_singer_name)
ORDER BY s.Spotify_singer_name DESC
LIMIT 10;
```

```
+---------------------+-----------------------------+---------------------+
| Spotify_singer_name | Spotify_singer_total_albums | Company_name        |
+---------------------+-----------------------------+---------------------+
| Taylor Swift        |                          49 | Big Machine Records |
| Rihanna             |                          48 |  Def Jam Recordings |
| Katy Perry          |                          34 | CAPITOL RECORDS.    |
| Bruno Mars          |                           7 | Atlantic Records    |
| Avril Lavigne       |                           7 | RCA Rcords          |
| Ariana Grande       |                          24 | Republic Records    |
+---------------------+-----------------------------+---------------------+
```

### Use Case 8 <br>
Description: Get the Spotify singers' top 1 reliated artists'informatiob Twitter account in Twitter singers

```sql
SELECT t.singer_name,t.singer_name,t.singer_url,t.singer_description,t.singer_followers_count
FROM (Twitter_singers t right JOIN Spotify_singer_Account s ON t.singer_name = s.Spotify_singer_top_1_related_artist)
ORDER BY  t.singer_name DESC
LIMIT 5;
```

```
+---------------+---------------+-------------------------+---------------------------------------------------------------------------------------------------------------------------------+------------------------+
| singer_name   | singer_name   | singer_url              | singer_description                                                                                                              | singer_followers_count |
+---------------+---------------+-------------------------+---------------------------------------------------------------------------------------------------------------------------------+------------------------+
| Avril Lavigne | Avril Lavigne | https://t.co/niyvkKkHrn | BMG Records. Freesolo / Vector Management. PMKBNC. Listen to my new album #HeadAboveWater ð here:https://t.co/euGdGHvWK2     | 21713427               |
| NULL          | NULL          | NULL                    | NULL                                                                                                                            | NULL                   |
| NULL          | NULL          | NULL                    | NULL                                                                                                                            | NULL                   |
| NULL          | NULL          | NULL                    | NULL                                                                                                                            | NULL                   |
| NULL          | NULL          | NULL                    | NULL                                                                                                                            | NULL                   |
+---------------+---------------+-------------------------+---------------------------------------------------------------------------------------------------------------------------------+------------------------+

```

### Use Case 9 <br>
Description: Get Twitter singers' spotify popularity from Spotify data

```sql
SELECT ts.singer_name, ts.singer_id, ss.singer_spotify_popularity  
FROM  (Twitter_singers ts INNER JOIN Spotify_singer_Account ss ON ss.Spotify_singer_name = ts.singer_name)  
ORDER BY ss.singer_spotify_popularity  DESC 
LIMIT 15;
```

```
+---------------+-----------+---------------------------+
| singer_name   | singer_id | singer_spotify_popularity |
+---------------+-----------+---------------------------+
| Ariana Grande | 34507480  |                       100 |
| Lady Gaga     | 14230524  |                        91 |
| Rihanna       | 79293791  |                        89 |
| Bruno Mars    | 100220864 |                        89 |
| Maroon 5      | 24886570  |                        88 |
| Taylor Swift  | 17919972  |                        88 |
| Chris Brown   | 119509520 |                        88 |
| Justin Bieber | 27260086  |                        87 |
| KATY PERRY    | 21447363  |                        83 |
| Avril Lavigne | 73992972  |                        80 |
+---------------+-----------+---------------------------+
```

### Use Case 10 <br>
Description: Get all song' names and popularity from the album

```sql
SELECT S.song_name, S.singer_name, S.song_popularity, A.album_name
FROM (Spotify_songs S INNER JOIN Spotify_album A ON S.album_name = A.album_name)
ORDER BY S.song_popularity  DESC 
LIMIT 10;
```

```
+-------------------------------------------------+----------------+-----------------+-------------------------------------------------+
| song_name                                       | singer_name    | song_popularity | album_name                                      |
+-------------------------------------------------+----------------+-----------------+-------------------------------------------------+
| break up with your girlfriend, i'm bored        | Ariana Grande  |              99 | thank u, next                                   |
| Taki Taki (with Selena Gomez, Ozuna & Cardi B)  | Selena Gomez   |              96 | Taki Taki (with Selena Gomez, Ozuna & Cardi B)  |
| Shallow                                         | Lady Gaga      |              95 | A Star Is Born Soundtrack                       |
| i'm so tired...                                 | Troye Sivan    |              93 | i'm so tired...                                 |
| Nothing Breaks Like a Heart (feat. Miley Cyrus) | Miley Cyrus    |              92 | Nothing Breaks Like a Heart (feat. Miley Cyrus) |
| Beautiful (feat. Camila Cabello)                | Camila Cabello |              89 | Beautiful (feat. Camila Cabello)                |
| Girls Like You (feat. Cardi B)                  | Maroon 5       |              88 | Girls Like You (feat. Cardi B)                  |
| Solo (feat. Demi Lovato)                        | Demi Lovato    |              87 | Solo (feat. Demi Lovato)                        |
| Electricity (with Dua Lipa)                     | Dua Lipa       |              87 | Electricity (with Dua Lipa)                     |
| FEFE (feat. Nicki Minaj, Murda Beatz)           | Nicki Minaj    |              86 | DUMMY BOY                                       |
+-------------------------------------------------+----------------+-----------------+-------------------------------------------------+
```

## Percentage contribution in assignment

- Hsiang-Hua Chen : 20% from the website, 80% created by myself
- Yuan Chai : 25% from the website, 75% created by myself

## Citations

- https://spotipy.readthedocs.io/en/latest/
- https://developer.spotify.com/documentation/general/guides/
- https://docs.python.org/3/library/csv.html
- https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/intro-to-tweet-json
- http://blog.chapagain.com.np/python-get-twitter-tweets-using-tweepy-library/

## License

MIT License

Copyright (c) 2019 Hsiang-Hua Chen, Yuan Chai

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.